In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('mensaje.txt', header=None)
df.head()

          0
0  jpnomile
1  wosinwfa
2  lekivkmf
3  ijymvkgq
4  bmwgxxrm

In [3]:
cols = len(df[0][0])
for order in range(cols):
    df[order + 1] = df[0].apply(lambda _: _[order])

del df[0]

In [4]:
df.head()

   1  2  3  4  5  6  7  8
0  j  p  n  o  m  i  l  e
1  w  o  s  i  n  w  f  a
2  l  e  k  i  v  k  m  f
3  i  j  y  m  v  k  g  q
4  b  m  w  g  x  x  r  m

In [5]:
for col in df.columns:
    print(df[col].mode()[0])

e
c
d
o
t
i
c
a

In [6]:
df.shape

(4576, 8)