<center>
<img src='http://docs.python.org.ar/tutorial/img/python-3-logo.png'>
    </center>

Python es un lenguaje de programación interpretado cuya filosofía hace hincapié en una sintaxis que favorezca un código legible. Se trata de un lenguaje de programación multiparadigma, ya que soporta orientación a objetos, programación imperativa y, en menor medida, programación funcional. 

##### Fuente https://es.wikipedia.org/wiki/Python

### CARACTERISTICAS:

* INTERPRETADO
* TIPADO DINAMICO    (mi_variable = 'Buenas Tardes')
* MULTIPLATAFORMA
* PROPOSITO GENREAL
* EMBEDING
* ORIENTADO A OBJETOS
* COMUNIDAD
* FILOSOFIA

In [7]:
import this

##### . Hermoso es mejor que feo.
##### . Explícito es mejor que implícito.
##### . Simple es mejor que complejo.
##### . Complejo es mejor que complicado.
##### . Plano es mejor que anidado.
##### . Escaso es mejor que denso.
##### . La legibilidad cuenta.
##### . Los casos especiales no son lo suficientemente especiales como para romper las reglas.
##### . Aunque la practicidad supera la pureza.
##### . Los errores nunca deben pasar en silencio.
##### . A menos que sea silenciado explícitamente.
##### . Ante la ambigüedad, rechaza la tentación de adivinar.
##### . Debe haber una, y preferiblemente solo una, forma obvia de hacerlo.
##### . Aunque esa manera puede no ser obvia al principio a menos que seas holandés.
##### . Ahora es mejor que nunca.
##### . Aunque nunca es mejor que * ahora * ahora.
##### . Si la implementación es difícil de explicar, es una mala idea.
##### . Si la implementación es fácil de explicar, puede ser una buena idea.
##### . Los espacios de nombres son una gran idea, ¡hagamos más de eso!

### PEP 8  https://www.python.org/dev/peps/pep-0008/

## 1- TIPOS DE DATOS

Primero comenzamos con el tipo mas usado:

# 1.1 STRING

In [8]:
my_first_var = 'yo quiero a mi mamita'
my_second_var = "yo quiero a mi mamita"

In [9]:
my_second_var == my_first_var

True

#### ¿ PORQUÉ ?

In [10]:
# Para poder usar estos signos con facilidad en cualquier 
msge = 'Mi libro favorito "El principito"'
other_msge = "La mejor serie 'STRANGER THINGS'"

print(msge)
print(other_msge)

Mi libro favorito "El principito"
La mejor serie 'STRANGER THINGS'

In [7]:
letter_simulate = """
    {0} eres una persona especial para mí.
    Fué ya hace {1} años, un {1} el ìa en el que todo cambió.
    =)
    
    Atte, {2}
"""

In [8]:
print(
    letter_simulate.format('Marle', 6, 'Raul')
)

    Marle eres una persona especial para mí.
    Fué ya hace 6 años, un 6 el ìa en el que todo cambió.
    =)

    Atte, Raul

In [13]:
print(
    letter_simulate.format('André', 6, '6 de Febrero')
)

    André eres una persona especial para mí.
    Fué ya hace 6 años, un 6 de Febrero el dìa en el que todo cambió.
    =)

    Atte, André

### MULTIPLICACION DE UN NUMERO ENTERO CON UN STRING

In [14]:
print("="*4)
print("*"*4)
print("*"*4)
print("*"*4)

====
****
****
****

In [15]:
print("*"*1)
print("*"*2)
print("*"*3)
print("*"*4)

*
**
***
****

## ATRIBUTOS

In [11]:
other_msge

"La mejor serie 'STRANGER THINGS'"

In [12]:
other_msge.replace('a', 'o')

"Lo mejor serie 'STRANGER THINGS'"

In [13]:
other_msge.upper()

"LA MEJOR SERIE 'STRANGER THINGS'"

In [14]:
other_msge.lower()

"la mejor serie 'stranger things'"

# SLICING

In [16]:
other_msge = "La mejor serie 'STRANGER THINGS'"

In [19]:
other_msge[0]

'L'

In [20]:
other_msge[-1]

"'"

In [17]:
other_msge[1:5]

'a me'

In [18]:
other_msge[1:50000000]

"a mejor serie 'STRANGER THINGS'"

In [22]:
other_msge[-6:-2]

'HING'

In [23]:
other_msge[-3:]

"GS'"

In [24]:
other_msge[-3:-1]

'GS'

In [19]:
other_msge[:5]

'La me'

In [25]:
# concatenacion
'PUEDO CONCATENAR ' + 'USANDO SIGNO DE SUMA ' + str(5)

'PUEDO CONCATENAR USANDO SIGNO DE SUMA 5'

In [20]:
saludo = 'Hola, '
tema = 'como estas ?'
despedida = 'que bueno ya me voy'

saludo + tema + despedida

# NUMEROS
#### rirjgtijtr

In [22]:
# NUMBER
import math
from math import sqrt

# SUMA 
print(4 + 5)

# RESTA
print(12 - 3)

#MULTIPLICAION
print( 3 * 3)

# DIVISION
print(82 / 9)

# DIVISION ENTERA
print(81 // 9)

# potencia
print( 3 **2)

# RAIZ
print(math.sqrt(81))

# RESIDUO
print(7 % 2)

9
9
9
9.11111111111111
9
9
9.0
1

In [23]:
print(82 / 9)

9.11111111111111

# LISTAS Y TUPLAS

In [25]:
mylista = [1, 3, 45, 67, 'n', 'vrughugth']    # MUTABLE
 
mytupla = (6, 7, 8, 9, 'gtgrtgrt', 'hola')    # INMUTABLE

mylista.append('hola')
mylista

[1, 3, 45, 67, 'n', 'vrughugth', 'hola']

In [26]:
mylista[0], mytupla[0], mylista[-1], mytupla[-1]

(1, 6, 'hola', 'hola')

In [27]:
mylista[:100000000], mylista[2:-1], mytupla[:3], mytupla[-3:]

([1, 3, 45, 67, 'n', 'vrughugth', 'hola'],
 [45, 67, 'n', 'vrughugth'],
 (6, 7, 8),
 (9, 'gtgrtgrt', 'hola'))

## EJEMPLODE DE DATOS MUTSBLES

In [56]:
mylista3 = [1, 3, 45, 67, 'n', 'vrughugth']
other = mylista3

other.append(0)

print(other)
print(mylista3)

[1, 3, 45, 67, 'n', 'vrughugth', 0]
[1, 3, 45, 67, 'n', 'vrughugth', 0]

In [10]:
mylista2 = [1, 3, 45, 67, 'n', 'vrughugth']
copia = mylista2.copy()
copia.append(0)

print(mylista2)
print(copia)

[1, 3, 45, 67, 'n', 'vrughugth']
[1, 3, 45, 67, 'n', 'vrughugth', 0]

In [58]:
copia_tupla = mytupla
print(copia_tupla)

(6, 7, 8, 9, 'gtgrtgrt', 'hola')

In [60]:
copia_tupla = mytupla[:]
print(copia_tupla)

# CONCATENAR
# el signo '+' toma dos elemntos y forma uno nuevo juntando los dos

print('/'*20)
print(mylista + [3,5,87,6666])
print(mytupla + (333, 777))

(6, 7, 8, 9, 'gtgrtgrt', 'hola')
////////////////////
[1, 3, 45, 67, 'n', 'vrughugth', 'hola', 3, 5, 87, 6666]
(6, 7, 8, 9, 'gtgrtgrt', 'hola', 333, 777)

In [28]:
mylista

[1, 3, 45, 67, 'n', 'vrughugth', 'hola']

In [29]:
# EXTEND recibe una lista y cada elemento lo va agregando a la lista base
mylista.extend([1, 3 , 'hola'])
print(mylista)

[1, 3, 45, 67, 'n', 'vrughugth', 'hola', 1, 3, 'hola']

In [30]:
# APPEND agrega un elemento a lista base, y ese elemento puede ser cualquier objeto
mylista.append([1, 3 , 'hola'])
mylista

[1, 3, 45, 67, 'n', 'vrughugth', 'hola', 1, 3, 'hola', [1, 3, 'hola']]

In [32]:
# Quito el ultimo elemento a la lista
mylista = mylista[:-1]
mylista

[1, 3, 45, 67, 'n', 'vrughugth', 'hola', 1, 3, 'hola']

## CONJUNTOS

In [33]:
mylista

[1, 3, 45, 67, 'n', 'vrughugth', 'hola', 1, 3, 'hola']

In [34]:
# Un conjunto no soporta todos los elementos, solo numeros y texto

myset = set(mylista)
print(myset)

sethola = {'hola', 56, 4 ,5, 1, 1, 56, 4, 5}
print(sethola)

{1, 67, 3, 'vrughugth', 45, 'n', 'hola'}
{1, 4, 5, 'hola', 56}

In [35]:
print('>'*5, 'interseccion')
print(myset.intersection(sethola))
print(myset & sethola)

>>>>> interseccion
{1, 'hola'}
{1, 'hola'}

In [36]:
print('>'*5, 'union')
print(myset.union(sethola))
print( myset | sethola)

>>>>> union
{1, 67, 3, 'vrughugth', 4, 5, 'n', 45, 'hola', 56}
{1, 67, 3, 'vrughugth', 4, 5, 'n', 45, 'hola', 56}

In [37]:
print('>'*5, 'diferencia de un lado')
print(myset.difference(sethola), myset - sethola)

>>>>> diferencia de un lado
{3, 67, 'vrughugth', 45, 'n'} {3, 67, 'vrughugth', 45, 'n'}

In [38]:
print('>'*5,  'diferencia del otro')
print(sethola.difference(myset), sethola - myset)

>>>>> diferencia del otro
{56, 4, 5} {56, 4, 5}

#### AGREGAR SOLO UN ELEMENTO A UN CONUNTO

In [39]:
print("/"*20)
myset.add(2)

myset

////////////////////

{1, 2, 3, 45, 67, 'hola', 'n', 'vrughugth'}

#### AGREGAR MULTIPLES ELEMENTOS A UN CONJUNTO

In [40]:
myset.update([1,2,67, 'soynuevo'], (1, 3, 9, 4), {67, 9, 1, 'hola'})
myset

{1, 2, 3, 4, 45, 67, 9, 'hola', 'n', 'soynuevo', 'vrughugth'}

## DICCIONARIOS

#### la idea           {llave: valor}

In [72]:
# En una lista la forma de llamar a cada elemento es por el orden
mylista[0]

1

In [41]:
# El diccionario te da la opcion de llamar a cualquier elemento por un tag que tu desees

dicc = {
    'primer_numero': 1, 
    6: [1,2,3,4,5,6,6]
}

print(dicc['primer_numero'])
dicc[6]

1

[1, 2, 3, 4, 5, 6, 6]

In [42]:
# ORDENANDO EL DICCIONARIO
mydict = {
    'damas': ['Naty', 'Raquel'],
    'edad_promedio': 23,
    'subcaja': {
        'class': {
            'numero': 6
        },
        'teacher': 'Victor'
    }
}

In [53]:
mydict.get('subcajas', {}).get('class', 'no hay')

'no hay'

In [ ]:
mydict['subcaja']['class']

In [45]:
mydict['damas'][-1]

'Raquel'

In [49]:
val = mydict.get('damas', 0)
val

['Naty', 'Raquel']

#### AGREGANDO UN ELEMENTO

In [58]:
mydict['hora'] = ['5pm']
mydict

{'damas': ['Naty', 'Raquel'],
 'edad_promedio': 23,
 'subcaja': {'class': {'numero': 6}, 'teacher': 'Victor'},
 'hora': ['5pm']}

#### ACTUALIZANDO UN VALOR

In [59]:
mydict['hora'].append('8pm') 
mydict

{'damas': ['Naty', 'Raquel'],
 'edad_promedio': 23,
 'subcaja': {'class': {'numero': 6}, 'teacher': 'Victor'},
 'hora': ['5pm', '8pm']}

In [6]:
'grtgtrgrtgrt' in mydict

False

In [7]:
mydict['grtgtrgrtgrt']

KeyError: 'grtgtrgrtgrt'

In [61]:
'damas' in mydict

True

## IN

In [63]:
mylist = [1,2,3]
1 in mylist

True

In [64]:
'a' in 'frferferferabc'

True

In [12]:
print('hora' in mydict)

True

#### CONTROLANDO LA BUSQUEDA VALORES

In [14]:
mydict.get('gtgtrhythythty', 'not in vocabulary')

'-'

#### RECORRIENDO EL DICCIONARIO

In [16]:
mydict = {
    'damas': ['Naty', 'Raquel'],
    'edad_promedio': 23,
    'subcaja': {
        'class': {
            'numero': 6
        },
        'teacher': 'Victor'
    }
}

In [ ]:
str, int, float, list, tuple, dict

In [65]:
type(
    mydict['damas'][-1]
)

str

In [67]:
isinstance(
    mydict['damas'], str
)

False

In [20]:
mydict['edad_promedio'] + 30

53

In [69]:
type(
    mydict['subcaja'].get('classs', '')
)

str

In [72]:
mydict

{'damas': ['Naty', 'Raquel'],
 'edad_promedio': 23,
 'subcaja': {'class': {'numero': 6}, 'teacher': 'Victor'},
 'hora': ['5pm', '8pm']}

In [73]:
del mydict['damas']

mydict

{'edad_promedio': 23,
 'subcaja': {'class': {'numero': 6}, 'teacher': 'Victor'},
 'hora': ['5pm', '8pm']}

In [70]:
my_tupla = (3, 4, 5)
my_tupla = my_tupla + (333, 777)

In [71]:
my_tupla

(3, 4, 5, 333, 777)