In [1]:
!pip install awswrangler

Collecting awswrangler
  Downloading awswrangler-2.8.0-py3-none-any.whl (179 kB)
     |████████████████████████████████| 179 kB 24.3 MB/s eta 0:00:01
Collecting redshift-connector~=2.0.0
  Downloading redshift_connector-2.0.881-py3-none-any.whl (91 kB)
     |████████████████████████████████| 91 kB 2.4 MB/s  eta 0:00:01
Requirement already satisfied: numpy<1.21.0,>=1.18.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from awswrangler) (1.19.5)
Requirement already satisfied: botocore<2.0.0,>=1.15.49 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from awswrangler) (1.20.79)
Collecting pymysql<1.1.0,>=0.9.0
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 412 kB/s  eta 0:00:01
Requirement already satisfied: openpyxl~=3.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from awswrangler) (3.0.6)
Requirement already satisfied: boto3<2.0.0,>=1.12.49 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from awswrangler) (1.17.79)
Requirement already satisfied: pyarrow<4.1.0,>=2.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from awswrangler) (4.0.0)
Collecting pg8000<1.20.0,>=1.16.0
  Downloading pg8000-1.19.5-py3-none-any.whl (34 kB)
Requirement already satisfied: pandas<1.3.0,>=1.1.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from awswrangler) (1.1.5)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3<2.0.0,>=1.12.49->awswrangler) (0.10.0)
Requirement already satisfied: s3transfer<0.5.0,>=0.4.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3<2.0.0,>=1.12.49->awswrangler) (0.4.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore<2.0.0,>=1.15.49->awswrangler) (1.26.4)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore<2.0.0,>=1.15.49->awswrangler) (2.8.1)
Requirement already satisfied: et-xmlfile in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from openpyxl~=3.0.0->awswrangler) (1.0.1)
Requirement already satisfied: jdcal in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from openpyxl~=3.0.0->awswrangler) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from pandas<1.3.0,>=1.1.0->awswrangler) (2021.1)
Collecting scramp==1.4.0
  Downloading scramp-1.4.0-py3-none-any.whl (8.4 kB)
Requirement already satisfied: asn1crypto==1.4.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from scramp==1.4.0->pg8000<1.20.0,>=1.16.0->awswrangler) (1.4.0)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.15.49->awswrangler) (1.15.0)
Requirement already satisfied: lxml>=4.6.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from redshift-connector~=2.0.0->awswrangler) (4.6.3)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from redshift-connector~=2.0.0->awswrangler) (4.9.3)
Requirement already satisfied: requests<2.25.2,>=2.23.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from redshift-connector~=2.0.0->awswrangler) (2.25.1)
Requirement already satisfied: soupsieve>1.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift-connector~=2.0.0->awswrangler) (2.0.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests<2.25.2,>=2.23.0->redshift-connector~=2.0.0->awswrangler) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests<2.25.2,>=2.23.0->redshift-connector~=2.0.0->awswrangler) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests<2.25.2,>=2.23.0->redshift-connector~=2.0.0->awswrangler) (3.0.4)
Installing collected packages: scramp, redshift-connector, pymysql, pg8000, awswrangler
Successfully installed awswrangler-2.8.0 pg8000-1.19.5 pymysql-1.0.2 redshift-connector-2.0.881 scramp-1.4.0

In [2]:
import pandas as pd
import awswrangler as wr
import sagemaker
bucket = sagemaker.Session().default_bucket()
bucket ## bucket asignado al equipo acorde a nuestro SSO

'sagemaker-us-east-1-058528764918'

In [3]:
sess = sagemaker.session.Session(default_bucket= 's3://{}'.format(bucket))  ##seteado de bucket a usar
role = sagemaker.get_execution_role()   ## levantamiento de roles

### >> LOAD DATA

In [4]:
df = wr.s3.read_csv('s3://{}/muestra.csv'.format(bucket), sep=';')
df.head()

,TIP_DOC,NUM_DOC,COD_UNICO,PERIODO,MTO_DEUDA_COL_DIR_IBK,MTO_DEUDA_COL_DIR_SF,TRG_1M,TRG_2M,TRG_3M,TRG_4M,...,FLG_2M_ANTES,FLG_3M_ANTES,FLG_4M_ANTES,AUMENTOS_BPE_1M_ANTES,AUMENTOS_BPE_2M_ANTES,AUMENTOS_BPE_3M_ANTES,AUMENTOS_BPE_4M_ANTES,GENERO_F,GENERO_M,EDAD_RRLL
0,2,20453973787,NaN,202006,0.0,9617.80,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,NaN
1,2,20453974244,10743339.0,202009,0.0,435514.55,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,NaN
2,2,20453981534,NaN,202101,0.0,22579.21,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,NaN
3,2,20453981534,NaN,202102,0.0,19682.35,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,NaN
4,2,20453984398,NaN,202004,0.0,315041.57,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [5]:
df['PERIODO'].value_counts().sort_index(ascending=False)

202103    4726
202102    4720
202101    4661
202012    4064
202011    4161
202010    4083
202009    4103
202008    3725
202007    3379
202006    3284
202005    3251
202004    3026
202003    3017
202002    3066
202001    3028
201912    3086
201911    3134
201910    3032
201909    3045
201908    3103
201907    3075
201906    3227
201905    3066
201904    3071
201903    3160
201902    3126
201901    3158
201812    3197
201712    3226
Name: PERIODO, dtype: int64

### >> CREACION DE VARIABLES

In [6]:
# Variaciones
df['MTO_DEUDA_COL_DIR_VIG_SF_U3M_U12M_MAX'] = df['MTO_DEUDA_COL_DIR_VIG_SF_U3M_MAX']/df['MTO_DEUDA_COL_DIR_VIG_SF_U6M_MAX']
df['MTO_DEUDA_COL_DIR_VIG_SF_U6M_U12M_MAX'] = df['MTO_DEUDA_COL_DIR_VIG_SF_U6M_MAX']/df['MTO_DEUDA_COL_DIR_VIG_SF_U12M_MAX']
df['MTO_DEUDA_COL_DIR_VIG_SF_U3M_U6M_MAX'] = df['MTO_DEUDA_COL_DIR_VIG_SF_U3M_MAX']/df['MTO_DEUDA_COL_DIR_VIG_SF_U6M_MAX']

df['MTO_DEUDA_COL_DIR_VIG_SF_U3M_U12M_AVG'] = df['MTO_DEUDA_COL_DIR_VIG_SF_U3M_AVG']/df['MTO_DEUDA_COL_DIR_VIG_SF_U6M_AVG']
df['MTO_DEUDA_COL_DIR_VIG_SF_U6M_U12M_AVG'] = df['MTO_DEUDA_COL_DIR_VIG_SF_U6M_AVG']/df['MTO_DEUDA_COL_DIR_VIG_SF_U12M_AVG']
df['MTO_DEUDA_COL_DIR_VIG_SF_U3M_U6M_AVG'] = df['MTO_DEUDA_COL_DIR_VIG_SF_U3M_AVG']/df['MTO_DEUDA_COL_DIR_VIG_SF_U6M_AVG']

df['CLAS_SBS_U3_U6_MAX_SF'] = df['CLAS_SBS_U3_MAX_SF']/df['CLAS_SBS_U6_MAX_SF']
df['CLAS_SBS_U3_U12_MAX_SF'] = df['CLAS_SBS_U3_MAX_SF']/df['CLAS_SBS_U12_MAX_SF']
df['CLAS_SBS_U6_U12_MAX_SF'] = df['CLAS_SBS_U6_MAX_SF']/df['CLAS_SBS_U12_MAX_SF']

In [7]:
try:
    df.describe(include=[object]).columns
except Exception as e:
    print(str(e))

No objects to concatenate

### >> SEPARATE TRAIN / TEST

In [8]:
df['PERIODO'] = df['PERIODO'].astype(str)

meses_test = ['202012','202011']
meses_entrenamiento = ['202010', '202009', '202008', '202007','202006',
                       '202005', '202004', '202003', '202002', '202001',
                       '201912', '201911', '201910', '201909', '201908']

In [9]:
valid = df[df['PERIODO'].isin(meses_test)]
train = df[df['PERIODO'].isin(meses_entrenamiento)]

del df
valid.shape, train.shape

((8225, 64), (49362, 64))

In [10]:
y_train = train['TRG_3M'].copy()
del train['TRG_3M']

y_valid = valid['TRG_3M'].copy()
del valid['TRG_3M']

### >> GUARDADO S3

In [11]:
prefix = 'vpc'     # subcarpeta de guardado
output_path = 's3://{}/{}/victor'.format(bucket, prefix)
output_path

's3://sagemaker-us-east-1-058528764918/vpc/victor'

In [12]:
# definir rutas de datos dentro de bucket
train_fname = "{}/train.csv".format(output_path)
print(train_fname)

val_fname = "{}/validation_set.csv".format(output_path)
print(val_fname)

s3://sagemaker-us-east-1-058528764918/vpc/victor/train.csv
s3://sagemaker-us-east-1-058528764918/vpc/victor/validation_set.csv

In [13]:
train.to_csv(
    's3://sagemaker-us-east-1-058528764918/vpc/victor/validation_set_sin_target.csv', 
    header=False, index=False
)

In [ ]:
pd.concat(
    [y_train, train],axis=1, ignore_index=True   # xgboost por defecto te pdide que el target esté en tu 1era columna
).to_csv(
    train_fname, 
    header=False, index=False
)

pd.concat(
    [y_valid, valid], axis=1, ignore_index=True # xgboost por defecto te pdide que el target esté en tu 1era columna
).to_csv(
    val_fname, 
    header=False, index=False
)

### >> VALIDAICON DE GUARDADO

In [ ]:
train = wr.s3.read_csv(train_fname, sep=',')
train.shape

In [ ]:
valid = wr.s3.read_csv(val_fname, sep=',')
valid.shape