In [1]:
# Nativos
import random as rn
import os
import sys
import gc

#calculo
import numpy as np
import pandas as pd
import scipy

#grafico
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
%matplotlib inline
sns.set(style="whitegrid")

#warning ignore future
import warnings
# warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")
gc.collect()

SEED = 29082013
os.environ['PYTHONHASHSEED'] = str(SEED)
np.random.seed(SEED)
rn.seed(SEED)

In [2]:
tipos_llave = {
    'COD_UNICO': str,
    'PERIODO': str
}
llave = list(tipos_llave.keys())
llave

['COD_UNICO', 'PERIODO']

## MEDIANAS

In [3]:
mediana = pd.read_csv('AVANCE_6_MEDIANA.csv', dtype=tipos_llave)
print(mediana.shape)
mediana.head()

(24014, 3635)

,PERIODO,COD_UNICO,RUC,FLG_VIGENTE,NOMBRE_COMPLETO,FLG_SUSPENDIDO,FLG_VENCIDA,FLG_CANCELADO,FLG_MONOLINEA,FLG_SOLO_REACTIVA,...,_0_cut_up_TIENE_TENDENCIA_CRECIENTE_LEN_NUM_DOCUMENTO_U7M,_0_cut_up_TIENE_TENDENCIA_CRECIENTE_LEN_NUM_DOCUMENTO_U12M,_0_cut_up_TENDENCIA_PROTESTOS_U7M,_0_cut_up_TENDENCIA_PROTESTOS_U12M,_0_cut_up_TIENE_TENDENCIA_CRECIENTE_PROTESTOS_U7M,_0_cut_up_TIENE_TENDENCIA_CRECIENTE_PROTESTOS_U12M,_0_cut_up_TENDENCIA_PROTESTOS_U7M_SIN_SEVERIDAD,_0_cut_up_TENDENCIA_PROTESTOS_U12M_SIN_SEVERIDAD,_0_cut_up_TIENE_TENDENCIA_CRECIENTE_PROTESTOS_U7M_SIN_SEVERIDAD,_0_cut_up_TIENE_TENDENCIA_CRECIENTE_PROTESTOS_U12M_SIN_SEVERIDAD
0,202008,0002225225,20170717261,1,RUMI IMPORT,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,202008,0004039624,10010600338,0,REATEGUI FLORES LUCAS,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,202008,0004017117,20293331066,1,PRECISION PERU,1,1,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,202008,0003980042,20101391397,0,COMERCIAL INDUSTRIAL DELTA,1,0,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,202008,0003290442,20100244129,1,AGRICOLA COMERCIAL E INDUSTRIAL,1,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
mediana.shape

(24014, 3635)

In [5]:
cols_habilitadas = {col for col in mediana.columns if '1_and_1' not in col.lower() and 'listado' not in col.lower()}
print(len(cols_habilitadas))

3635

In [6]:
base = mediana[cols_habilitadas].copy()
del mediana

In [7]:
base.shape

(24014, 3635)

In [8]:
base[base['COD_UNICO'] == str(8443816).zfill(10)].sort_values(by=['PERIODO'])[
    ['target_SF_8_dias_atraso_o_mas_1Mbueno', 'PERIODO', 'MAX_DIAS_ATRASO', 'MAX_DIAS_ATRASO_SF',
     'TIENE_DEUDA_REFINANCIADO_RCC', 'TIENE_DEUDA_REFINANCIADO_IBK', 'TIENE_DEUDA_JUDICIAL_RCC']
]

,target_SF_8_dias_atraso_o_mas_1Mbueno,PERIODO,MAX_DIAS_ATRASO,MAX_DIAS_ATRASO_SF,TIENE_DEUDA_REFINANCIADO_RCC,TIENE_DEUDA_REFINANCIADO_IBK,TIENE_DEUDA_JUDICIAL_RCC
446,NaN,202008,0.0,0.0,1.0,0.0,0.0
2984,NaN,202009,21.0,0.0,1.0,0.0,0.0
5699,1.0,202010,0.0,0.0,1.0,0.0,0.0
9226,NaN,202011,10.0,3.0,1.0,0.0,0.0
12111,0.0,202012,0.0,3.0,1.0,0.0,0.0
14370,1.0,202101,7.0,0.0,1.0,0.0,0.0
15892,1.0,202102,1.0,0.0,1.0,0.0,0.0
19549,NaN,202103,6.0,12.0,1.0,0.0,0.0
23499,0.0,202104,0.0,0.0,1.0,0.0,0.0

## GRAN EMPRESA

In [9]:
ge = pd.read_csv('AVANCE_6_GRAN_EMPRESA.csv', dtype=tipos_llave)
print(ge.shape)
ge.head(2)

(24014, 2824)

,PERIODO,COD_UNICO,RUC,FLG_VIGENTE,NOMBRE_COMPLETO,FLG_SUSPENDIDO,FLG_VENCIDA,FLG_CANCELADO,FLG_MONOLINEA,FLG_SOLO_REACTIVA,...,_6_cut_up_MAX_DIAS_ATRASO_SF,_7_cut_up_MAX_DIAS_ATRASO_SF,_0.6_cut_down_SOW_OTROSBCOS_ULT_RCC,_0.7_cut_down_SOW_OTROSBCOS_ULT_RCC,_0.8_cut_down_SOW_OTROSBCOS_ULT_RCC,_0.9_cut_down_SOW_OTROSBCOS_ULT_RCC,_1200000_cut_up_RIESGO,_4400000_cut_up_RIESGO,_10000000_cut_up_GAR_TOT_IBK,_0.5_cut_down_ADEX_MAX_U6M_ACTUAL_IMP_OVER_12M_PASADO
0,202008,0002225225,20170717261,1,RUMI IMPORT,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0.0,0.0
1,202008,0004039624,10010600338,0,REATEGUI FLORES LUCAS,0,1,0,0,0,...,0.0,0.0,0.0,0.0,1.0,1.0,0,0,0.0,1.0

In [10]:
cols_new = {col for col in ge.columns if '1_and_1' not in col.lower() and 'listado' not in col.lower()} - set(base.columns)
print(len(cols_new))

139

In [11]:
print(base.shape)
base = base.merge(
    ge[list(cols_new) + llave], how='left', on=llave
)
print(base.shape)

(24014, 3635)
(24014, 3774)

In [12]:
del ge

In [13]:
len(list(base.columns)), len(set(base.columns))

(3774, 3774)

## S1 PROVINCIA

In [14]:
s1 = pd.read_csv('AVANCE_6_S1_PROVINCIA.csv', dtype=tipos_llave)
print(s1.shape)
s1.head(2)

(24014, 2941)

,PERIODO,COD_UNICO,RUC,FLG_VIGENTE,NOMBRE_COMPLETO,FLG_SUSPENDIDO,FLG_VENCIDA,FLG_CANCELADO,FLG_MONOLINEA,FLG_SOLO_REACTIVA,...,_-1_cut_down_CAPITAL_TRABAJO_VAR_CEF_SITUACION,_-2_cut_down_CAPITAL_TRABAJO_VAR_CEF_SITUACION,_-3_cut_down_CAPITAL_TRABAJO_VAR_CEF_SITUACION,_6_cut_up_NUM_FEVE_DURO_SEI,_7_cut_up_NUM_FEVE_DURO_SEI,_8_cut_up_NUM_FEVE_DURO_SEI,_9_cut_up_NUM_FEVE_DURO_SEI,_10_cut_up_NUM_FEVE_DURO_SEI,_45000_cut_down_VENTAS_NETAS_CEF_SITUACION,_25000_cut_down_VENTAS_NETAS_CEF_SITUACION
0,202008,0002225225,20170717261,1,RUMI IMPORT,0,0,0,0,0,...,0.0,0.0,0.0,1,1,1,1,1,1.0,1.0
1,202008,0004039624,10010600338,0,REATEGUI FLORES LUCAS,0,1,0,0,0,...,0.0,0.0,0.0,1,1,1,1,1,1.0,1.0

In [15]:
cols_new = {col for col in s1.columns if '1_and_1' not in col.lower() and 'listado' not in col.lower()} - set(base.columns)
print(len(cols_new))

163

In [16]:
print(base.shape)
base = base.merge(
    s1[list(cols_new) + llave], how='left', on=llave
)
base.shape

(24014, 3774)

(24014, 3937)

In [17]:
del s1

## S2 PROVINCIA

In [18]:
s2 = pd.read_csv('AVANCE_6_S2_PROVINCIA.csv', dtype=tipos_llave)
s2.head(2)

,PERIODO,COD_UNICO,RUC,FLG_VIGENTE,NOMBRE_COMPLETO,FLG_SUSPENDIDO,FLG_VENCIDA,FLG_CANCELADO,FLG_MONOLINEA,FLG_SOLO_REACTIVA,...,_0_cut_up_TIENE_TENDENCIA_CRECIENTE_PROTESTOS_U12M,_0_cut_up_TENDENCIA_PROTESTOS_U7M_SIN_SEVERIDAD,_0_cut_up_TENDENCIA_PROTESTOS_U12M_SIN_SEVERIDAD,_0_cut_up_TIENE_TENDENCIA_CRECIENTE_PROTESTOS_U7M_SIN_SEVERIDAD,_0_cut_up_TIENE_TENDENCIA_CRECIENTE_PROTESTOS_U12M_SIN_SEVERIDAD,_0.4_cut_down_SOW_IBK_ULT_RCC,_0.3_cut_down_SOW_IBK_ULT_RCC,_0.2_cut_down_SOW_IBK_ULT_RCC,_0.1_cut_down_SOW_IBK_ULT_RCC,_0_cut_down_SOW_IBK_ULT_RCC
0,202008,0002225225,20170717261,1,RUMI IMPORT,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
1,202008,0004039624,10010600338,0,REATEGUI FLORES LUCAS,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

In [19]:
cols_new = {col for col in s2.columns if '1_and_1' not in col.lower()} - set(base.columns)
print(len(cols_new))

105

In [20]:
print(base.shape)
base = base.merge(
    s2[list(cols_new) + llave], how='left', on=llave
)
base.shape

(24014, 3937)

(24014, 4042)

In [21]:
del s2

In [22]:
base[base['COD_UNICO'] == str(8443816).zfill(10)].sort_values(by=['PERIODO'])[
    ['target_SF_8_dias_atraso_o_mas_1Mbueno', 'PERIODO', 'MAX_DIAS_ATRASO', 'MAX_DIAS_ATRASO_SF',
     'TIENE_DEUDA_REFINANCIADO_RCC', 'TIENE_DEUDA_REFINANCIADO_IBK', 'TIENE_DEUDA_JUDICIAL_RCC']
]

,target_SF_8_dias_atraso_o_mas_1Mbueno,PERIODO,MAX_DIAS_ATRASO,MAX_DIAS_ATRASO_SF,TIENE_DEUDA_REFINANCIADO_RCC,TIENE_DEUDA_REFINANCIADO_IBK,TIENE_DEUDA_JUDICIAL_RCC
446,NaN,202008,0.0,0.0,1.0,0.0,0.0
2984,NaN,202009,21.0,0.0,1.0,0.0,0.0
5699,1.0,202010,0.0,0.0,1.0,0.0,0.0
9226,NaN,202011,10.0,3.0,1.0,0.0,0.0
12111,0.0,202012,0.0,3.0,1.0,0.0,0.0
14370,1.0,202101,7.0,0.0,1.0,0.0,0.0
15892,1.0,202102,1.0,0.0,1.0,0.0,0.0
19549,NaN,202103,6.0,12.0,1.0,0.0,0.0
23499,0.0,202104,0.0,0.0,1.0,0.0,0.0

#### SAVE

In [23]:
base.to_csv('AVANCE_6.csv', index=False)

In [24]:
#base.to_excel('AVANCE_6.xlsx', index=False)

In [25]:
len(list(base.columns)), len(set(base.columns))

(4042, 4042)

In [26]:
del base

In [27]:
#(2479, 2479)