In [1]:
# Nativos
import random as rn
import os
import sys
import gc
import time

#calculo
import numpy as np
import pandas as pd
import scipy

#grafico
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
%matplotlib inline
sns.set(style="whitegrid")

#warning ignore future
import warnings
# warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings("ignore")
gc.collect()

SEED = int(time.time() / 1000)
os.environ['PYTHONHASHSEED'] = str(SEED)
np.random.seed(SEED)
rn.seed(SEED)

from utils_alertas import *

EJEMPLO:
202104 mes cerrado de la cosecha de 202104 [202011, 202012, 202101, 202102, 202103, 202104] [202102, 202103, 202104]
 historia
 [202005, 202006, 202007, 202008, 202009, 202010, 202011, 202012, 202101, 202102, 202103, 202104]
 ----------------------------------------------------------------------------------------------------
 [202105, 202106]
 ----------------------------------------------------------------------------------------------------
 [202005, 202006]

In [2]:
data = pd.read_csv('AVANCE_6.csv', dtype={
    'COD_UNICO': str,
    'PERIODO': str
})
data.head()

,ADEX_PROM_U12M_ACTUAL_IMP_OVER_12M_PASADO_MENOR_0.5,_aux_TRX_SUBIDA_30PERCENT_TRANSFERENCIAS__CASH_OUT_MES_ANT,_75_cut_up_ROTACION_CTASXCOBRAR_VAR_DIAS_CEF_SITUACION,FUNNEL_ALERTA,_aux_TRX_CAIDA_10PERCENT_OPERACIONES_MESA__MES_ANT,DEBT_IN_SF_ULT_RCC_x,_0_cut_up_TENDENCIA_PERCENT_NO_CLASIF_NORMAL_GRUPO_ECON_U7M,TIENE_IMPORTE_TRIB_U1M_OVER_U12M_MAYOR_1,ADEX_MAYOR_U3M_IMP,ACTIVIDAD__Comercio,...,_5_cut_up_NUM_MESES_SIN_LINEA_VIGENTE,_2_cut_up_NUM_DOCS_PROT_PROMEDIO_U9M,_1_cut_up_NUM_DOCS_PROT_U6M,_1_cut_up_NUM_DOCS_TRIB_U12M,_2_cut_up_NUM_DOCS_IMPAG_PROMEDIO_U6M,_3_cut_up_NUM_DOCS_IMPAG_U12M,_1_cut_up_NUM_DOCS_LAB_U6M,_1_cut_up_NUM_DOCS_TRIB_PROMEDIO_U9M,cut_letal_SUBSECTOR_s2_provincia,_2_cut_up_NUM_DOCS_IMPAG_PROMEDIO_U9M
0,0.0,0.0,1.0,NaN,0.0,9253118.94,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,NaN,0.0,521627.95,0.0,0.0,1.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,NaN,0.0,48350156.96,0.0,0.0,1.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,NaN,0.0,24993499.25,0.0,0.0,0.0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,NaN,0.0,973224.29,0.0,0.0,1.0,0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [3]:
'COD_UNICO' in data.columns, 'PERIODO' in data.columns,

(True, True)

In [4]:
print(data.shape)
data = filtro_banca_s1provincia(data)
print(data.shape)

(24014, 3638)
(1315, 3638)

In [5]:
pd.crosstab(
    data['PERIODO'], data['ZONAL']
)

ZONAL    BEP ZONAL 1  BEP ZONAL 2  BEP ZONAL 3
PERIODO
202009            99           57           65
202010           100           57           65
202011            97           57           64
202012            98           59           62
202101            97           59           64
202102            95           58           62

### CREACION DE COLUMNAS A MEZCLAR

In [6]:
cols_combine = [col for col in data.columns if set(data[col].unique()) == {1, 0} if '1_and_1' not in col]
print(len(cols_combine))

2352

In [7]:
cols_combine = \
    [col for col in cols_combine if 'SCOTIA' not in col.upper() \
                                 and 'BCP' not in col.upper() \
                                 and 'BBVA' not in col.upper() \
                                 and 'BIF' not in col.upper() \
                                 and '%' not in col.upper() \
                                 and 'COVID' not in col.upper()
    ]
print(len(cols_combine))

2266

In [8]:
for col in ['cambio_seguir_covid'] + [col for col in data.columns if 'target' in col.lower()]:
    if col in cols_combine:
        cols_combine.remove(col)

len(cols_combine)

2265

### GENERACION DE ALERTAS

In [9]:
existentes = pd.read_csv('COMBINACIONES_S1_PROVINCIA.csv')
existentes.head()

,,,,,VAR_1,VAR_2,VAR_3,CASOS,CORRECTOS,SCORE
TICKET_PROMEDIO_EN_RIESGO__Bucket_4_-_9.2_MM,NO_TIENE_GAR_AUTO_HIPO_PREN_SF,NaN,6,3,0.5_2_cut_up_DTOTAL_S_EBITDA_CEF_SITUACION,_aux_CASHOUT_CAIDA_40PERCENT_PAGOS_MASIVOS__U6M,NaN,10.0,5.0,0.5
CLASIF_SBS__NORMAL,_5_cut_up_DTOTAL_S_EBITDA_CEF_SITUACION,_0.4_cut_up_minimo_percent_others_u12m,7,3,0.42857142857142855,NaN,NaN,NaN,NaN,NaN
_5_cut_up_DTOTAL_S_EBITDA_CEF_SITUACION,_0.4_cut_up_minimo_percent_others_u12m,NaN,8,4,0.5,NaN,NaN,NaN,NaN,NaN
_1_cut_up_MAX_DIAS_ATRASO_SFSF_ULT_RCC,TIENE_AUMENTO_RIESGO_40PERCENT_A_MAS_U3M,NaN,7,3,0.42857142857142855,NaN,NaN,NaN,NaN,NaN
IS_NORMAL_IBK_SBS,_5_cut_up_ATRASO_PROM_U6M_COLDIRECT_VIG_VENC_SF,NaN,7,3,0.42857142857142855,NaN,NaN,NaN,NaN,NaN

In [10]:
try:
    existentes['union'] = existentes[['VAR_1', 'VAR_2', 'VAR_3']].apply(
        lambda _: '1_and_1_{}___{}'.format(_[0], _[1]) if pd.isnull(_[2]) else '1_and_1_and_1_{}___{}____{}'.format(_[0], _[1], _[2]), 
        axis=1
    )
    listado = list(existentes['union'].unique())
    len(listado)
except:
    listado = []
    
len(listado), data.shape

(30, (1315, 3638))

In [11]:
import random as rn
import itertools

col_target = 'target_FINAL_fusion_atraso_feve_2Mbueno'
display(pd.crosstab(
    data[col_target].fillna(-1), data['PERIODO']
))

aucc = {}
struct = []

data = data[data[col_target].notnull()][cols_combine + ['COD_UNICO', col_target, 'PERIODO']]
data.shape

PERIODO,202009,202010,202011,202012,202101,202102
target_FINAL_fusion_atraso_feve_2Mbueno,,,,,,
-1.0,64,61,57,58,51,49
0.0,149,152,153,154,159,154
1.0,8,9,8,7,10,12

(975, 3638)

In [12]:
#pd.DataFrame([], columns=['VAR_1', 'VAR_2', 'VAR_3', 'CASOS', 'CORRECTOS', 'SCORE']).to_csv('COMBINACIONES_MEDIANA_LIMA.csv', index=False)
#pd.DataFrame([], columns=['VAR_1', 'VAR_2', 'VAR_3', 'CASOS', 'CORRECTOS', 'SCORE']).to_csv('COMBINACIONES_GRAN_EMPRESA_LIMA.csv', index=False)
#pd.DataFrame([], columns=['VAR_1', 'VAR_2', 'VAR_3', 'CASOS', 'CORRECTOS', 'SCORE']).to_csv('COMBINACIONES_S1_PROVINCIA.csv', index=False)
#pd.DataFrame([], columns=['VAR_1', 'VAR_2', 'VAR_3', 'CASOS', 'CORRECTOS', 'SCORE']).to_csv('COMBINACIONES_S2_PROVINCIA.csv', index=False)

In [13]:
SEED = int(time.time() / 1000)
os.environ['PYTHONHASHSEED'] = str(SEED)
np.random.seed(SEED)
rn.seed(SEED)

rn.shuffle(cols_combine)

In [ ]:
from datetime import datetime
tiempo_inicio = time.time()
nn = len(struct)

while True:
    x = rn.choice(cols_combine)
    y = rn.choice(cols_combine)
    z = rn.choice(cols_combine)
    
    col_evaluate = '1_and_1_and_1_{}___{}____{}'.format(x, y, z)
    
    if col_evaluate not in listado and x != y and x!= z and y!= z:
        listado.append(col_evaluate)
        
        lambda_basico = lambda _:  _[0] >= 1 and _[1] >= 1 and _[2] >= 1
        data[col_evaluate] = data[[x, y, z]].apply(lambda_basico, axis=1).astype(int)
        #data_play_1[col_evaluate] = data_play_1[[x, y, z]].apply(lambda_basico, axis=1).astype(int)
        
        
        coincidencias = len(set(data[data[col_evaluate] == 1]['COD_UNICO'].unique()))
        acertados = len(set(data[(data[col_evaluate] == 1) & (data[col_target] == 1)]['COD_UNICO'].unique()))
        
        if coincidencias > 5 and acertados/coincidencias > 0.4:
            aucc[col_evaluate] = acertados/coincidencias
            struct.append(
                [x, y, z, coincidencias, acertados, acertados/coincidencias]
            )
            tiempo_inicio = time.time()
            nn = len(struct)
            #print(struct[-1])
            
        ### Generado pares de 2 
        for a, b in list(itertools.combinations([x, y, z], 2)):
            
            col_evaluate = '1_and_1_{}___{}'.format(a, b)
            if col_evaluate not in listado:
                lambda_basico = lambda _:  _[0] >= 1 and _[1] >= 1
                data[col_evaluate] = data[[a, b]].apply(lambda_basico, axis=1).astype(int)
                #data_play_1[col_evaluate] = data_play_1[[a, b]].apply(lambda_basico, axis=1).astype(int)
                
                coincidencias = len(set(data[data[col_evaluate] == 1]['COD_UNICO'].unique()))
                acertados = len(set(data[(data[col_evaluate] == 1) & (data[col_target] == 1)]['COD_UNICO'].unique()))
                
                if coincidencias > 5 and acertados/coincidencias > 0.4:
                    aucc[col_evaluate] = acertados/coincidencias
                    struct.append(
                        [a, b, None, coincidencias, acertados, acertados/coincidencias]
                    )
                    tiempo_inicio = time.time()
                    nn = len(struct)
                    #print(struct[-1])
        
        if len(struct) >= 5:
            pd.DataFrame(struct).to_csv('COMBINACIONES_S1_PROVINCIA.csv', header=False, index=False, mode='a')
            print("/"*25, datetime.now())
            struct = []
            
        if time.time() - tiempo_inicio >= 3600 and nn == len(struct):
            print("Mas de 1 hora sin nueva combinacion de alerta")
            break

///////////////////////// 2021-05-28 04:52:04.775547
///////////////////////// 2021-05-28 04:52:39.668215
///////////////////////// 2021-05-28 04:53:50.685434
///////////////////////// 2021-05-28 04:54:45.901242
///////////////////////// 2021-05-28 04:55:26.048044
///////////////////////// 2021-05-28 04:55:53.402493
///////////////////////// 2021-05-28 04:56:21.964245
///////////////////////// 2021-05-28 04:56:34.802704
///////////////////////// 2021-05-28 04:56:52.788270
///////////////////////// 2021-05-28 04:57:22.929800
///////////////////////// 2021-05-28 04:57:38.049179
///////////////////////// 2021-05-28 04:58:57.907824
///////////////////////// 2021-05-28 04:59:38.534696
///////////////////////// 2021-05-28 05:01:04.938769
///////////////////////// 2021-05-28 05:01:42.874030
///////////////////////// 2021-05-28 05:02:13.007602
///////////////////////// 2021-05-28 05:03:54.957272
///////////////////////// 2021-05-28 05:04:06.209993
///////////////////////// 2021-05-28 05:04:31.456541
///////////////////////// 2021-05-28 05:05:30.243027
///////////////////////// 2021-05-28 05:08:14.206319
///////////////////////// 2021-05-28 05:09:41.234217
///////////////////////// 2021-05-28 05:10:18.679151
///////////////////////// 2021-05-28 05:11:50.987291
///////////////////////// 2021-05-28 05:13:36.559270
///////////////////////// 2021-05-28 05:15:18.593306
///////////////////////// 2021-05-28 05:15:48.656011
///////////////////////// 2021-05-28 05:17:39.759061
///////////////////////// 2021-05-28 05:18:29.261574
///////////////////////// 2021-05-28 05:20:08.400696
///////////////////////// 2021-05-28 05:22:53.293840
///////////////////////// 2021-05-28 05:24:35.453041
///////////////////////// 2021-05-28 05:25:46.098756
///////////////////////// 2021-05-28 05:27:09.731731
///////////////////////// 2021-05-28 05:28:44.798579
///////////////////////// 2021-05-28 05:30:40.577432
///////////////////////// 2021-05-28 05:31:25.565980
///////////////////////// 2021-05-28 05:32:27.947146
///////////////////////// 2021-05-28 05:34:17.095006
///////////////////////// 2021-05-28 05:36:54.064203
///////////////////////// 2021-05-28 05:38:58.201230
///////////////////////// 2021-05-28 05:41:37.499881
///////////////////////// 2021-05-28 05:45:41.637879
///////////////////////// 2021-05-28 05:48:54.998425
///////////////////////// 2021-05-28 05:52:02.515996
///////////////////////// 2021-05-28 05:54:55.908337
///////////////////////// 2021-05-28 05:59:59.383075
///////////////////////// 2021-05-28 06:04:47.912268
///////////////////////// 2021-05-28 06:06:03.508760
///////////////////////// 2021-05-28 06:09:20.268444
///////////////////////// 2021-05-28 06:12:14.197558
///////////////////////// 2021-05-28 06:14:28.887741
///////////////////////// 2021-05-28 06:15:28.035476
///////////////////////// 2021-05-28 06:17:51.231815
///////////////////////// 2021-05-28 06:21:16.507006
///////////////////////// 2021-05-28 06:21:57.799788
///////////////////////// 2021-05-28 06:26:56.209796
///////////////////////// 2021-05-28 06:28:51.207938
///////////////////////// 2021-05-28 06:30:45.485217
///////////////////////// 2021-05-28 06:32:47.251629
///////////////////////// 2021-05-28 06:34:26.943315
///////////////////////// 2021-05-28 06:38:52.220511
///////////////////////// 2021-05-28 06:40:53.458244
///////////////////////// 2021-05-28 06:45:54.347451
///////////////////////// 2021-05-28 06:49:56.608515
///////////////////////// 2021-05-28 06:53:26.602570
///////////////////////// 2021-05-28 06:57:03.616125
///////////////////////// 2021-05-28 06:59:54.518897
///////////////////////// 2021-05-28 07:02:21.826416
///////////////////////// 2021-05-28 07:06:00.419475
///////////////////////// 2021-05-28 07:07:21.401800
///////////////////////// 2021-05-28 07:13:54.757971
///////////////////////// 2021-05-28 07:23:03.659468
///////////////////////// 2021-05-28 07:27:52.565107
///////////////////////// 2021-05-28 07:29:18.398367
///////////////////////// 2021-05-28 07:32:42.832564
///////////////////////// 2021-05-28 07:34:24.159837
///////////////////////// 2021-05-28 07:35:21.411623
///////////////////////// 2021-05-28 07:38:14.805743
///////////////////////// 2021-05-28 07:41:48.488397
///////////////////////// 2021-05-28 07:45:06.158855
///////////////////////// 2021-05-28 07:49:11.967710
///////////////////////// 2021-05-28 07:51:16.381668
///////////////////////// 2021-05-28 07:57:00.230173
///////////////////////// 2021-05-28 08:02:15.092068
///////////////////////// 2021-05-28 08:05:03.087276
///////////////////////// 2021-05-28 08:11:18.793181
///////////////////////// 2021-05-28 08:12:55.662950
///////////////////////// 2021-05-28 08:18:34.404041
///////////////////////// 2021-05-28 08:21:11.938872
///////////////////////// 2021-05-28 08:25:57.849350
///////////////////////// 2021-05-28 08:30:56.635463
///////////////////////// 2021-05-28 08:34:03.151168
///////////////////////// 2021-05-28 08:36:14.933019
///////////////////////// 2021-05-28 08:42:18.702573
///////////////////////// 2021-05-28 08:46:32.044552
///////////////////////// 2021-05-28 08:47:55.678748
///////////////////////// 2021-05-28 08:52:32.432952
///////////////////////// 2021-05-28 08:55:27.831733
///////////////////////// 2021-05-28 08:58:22.782417
///////////////////////// 2021-05-28 09:06:17.762003
///////////////////////// 2021-05-28 09:13:34.562328
///////////////////////// 2021-05-28 09:20:31.452216
///////////////////////// 2021-05-28 09:34:01.552953
///////////////////////// 2021-05-28 09:37:11.436233
///////////////////////// 2021-05-28 09:48:54.185986
///////////////////////// 2021-05-28 09:59:22.783893
///////////////////////// 2021-05-28 10:03:13.532872
///////////////////////// 2021-05-28 10:20:00.940583