In [1]:
import glob
import pandas as pd
relacion = []

In [2]:
ss = pd.read_excel('TARGET_EXPERTO_PROVINCIA.xlsx', engine='openpyxl')
ss.head()

,NOMBRE_COMPLETO,TARGET_EXPERTO,FEVE_GYS,SEGMENTO,COD_UNICO
0,.LIDER,"Salir, Reducir, Seguir Covid","Salir, Reducir, Seguir Covid",S1,5834015
1,ADMINISTRADORA DE SERVICIOS FUNERARIOS,Pendiente por validar,NaN,S1,16975020
2,AGRICOLA ANDREA,Pendiente por validar,NaN,S1,9386861
3,AGRICOLA ARANTXA SOCIEDAD ANONIMA,Pendiente por validar,NaN,S1,12893864
4,AGRICOLA CAMPO NOBLE,Pendiente por validar,NaN,S1,14436399

In [3]:
ss.shape

(575, 5)

In [4]:
ss.isnull().sum()

NOMBRE_COMPLETO      0
TARGET_EXPERTO       0
FEVE_GYS           457
SEGMENTO             0
COD_UNICO            0
dtype: int64

In [5]:
%%time

from sqlalchemy import create_engine
engine = create_engine(r"mssql+pymssql://ibetlmarket:m@rk3t2o15@10.11.12.90\BDT/MARKET")
connection_x = engine.connect()

try:
    ss.to_sql(
        name='PROVINCIA_TARGET_EXPERTO',
        schema='ODS',
        con=connection_x, 
        index=False, 
        if_exists='replace'
    )
    connection_x.close()
    correct = 1
except Exception as e:
    print("ERROR: ", str(e))
    correct = 0

print(correct)

1
Wall time: 1min 28s