In [1]:
import glob
import time
import gc

#nativos
import os
import unicodedata
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

#terceros
import pandas as pd
import numpy as np
import pymssql
import missingno as msnolistadconoce
from collections import Counter

In [2]:
#conneciom MARKET
connection_market = pymssql.connect(
    host='10.11.12.90\BDT',
    user='ibetlmarket',
    port=1433,
    password='m@rk3t2o15',
    database='MARKET'
)

import time
time.sleep(1)
gc.collect()

22

In [3]:
sql_rol = """
     SELECT  * FROM STG.H_ALERTAS_GRUPO_ROL_EQUIPO 
"""
rol_equipo = pd.read_sql(
   sql_rol , connection_market
)

print(rol_equipo.shape)
rol_equipo.head(2)

(219, 5)

  GRUPO       ROL           EQUIPO        ZONAL SEGMENTO
0   GE1  EJECUTOR  EJ. SEGUIMIENTO  BEL ZONAL 1       S1
1   GE1  EJECUTOR  EJ. SEGUIMIENTO  BEL ZONAL 1       S2

In [4]:
rol_equipo.to_excel('GRUPO_ROL_EQUIPO.xlsx', index=False)

In [9]:
sql_colaborador = """
     SELECT  * FROM STG.H_ALERTAS_COLABORADOR_EQUIPO 
"""
rol_colaborador = pd.read_sql(
   sql_colaborador , connection_market
)

print(rol_colaborador.shape)
rol_colaborador.head(2)

DatabaseError: Execution failed on sql:
     SELECT  * FROM STG.H_ALERTAS_COLABORADOR_EQUIPO

Connection is closed.
unable to rollback

In [6]:
rol_colaborador.to_excel('COLABORADOR_EQUIPO.xlsx', index=False)

In [7]:
connection_market.close()

In [8]:
raise Exception("VICTOR DICE: AGUANTA TU COCHE .... valida en el excel y luego corre lo de abajo .... pdta: El excel ya se cre贸 porseaca")

Exception: VICTOR DICE: AGUANTA TU COCHE .... valida en el excel y luego corre lo de abajo .... pdta: El excel ya se cre贸 porseaca

# UP

### GRUPO ROL EQUIPO

In [10]:
grupo_rol_equipo = pd.read_excel('GRUPO_ROL_EQUIPO.xlsx', engine='openpyxl')
grupo_rol_equipo.head()

  GRUPO       ROL           EQUIPO        ZONAL       SEGMENTO
0   GE1  EJECUTOR  EJ. SEGUIMIENTO  BEL ZONAL 1             S1
1   GE1  EJECUTOR  EJ. SEGUIMIENTO  BEL ZONAL 1             S2
2   GE1  EJECUTOR  EJ. SEGUIMIENTO  BEL ZONAL 1  MULTISEGMENTO
3   GE1  EJECUTOR               EN  BEL ZONAL 1             S1
4   GE1  EJECUTOR               EN  BEL ZONAL 1             S2

In [11]:
grupo_rol_equipo.shape

(222, 5)

In [12]:
%%time
# mssql+pymssql
from sqlalchemy import create_engine
engine = create_engine(r"mssql+pymssql://ibetlmarket:m@rk3t2o15@10.11.12.90\BDT/MARKET")
connection_x = engine.connect()

try:
    grupo_rol_equipo.to_sql(
        name='H_ALERTAS_GRUPO_ROL_EQUIPO',
        schema='STG',
        con=connection_x, 
        index=False, 
        if_exists='replace'
    )
    connection_x.close()
    correct = 1

except Exception as e:
    print("ERROR: ", str(e))
    correct = 0

print(correct)

1
Wall time: 30.5 s

In [13]:
import pymssql
print("Inciando actualizacion de tblas ODS")
connection = pymssql.connect(
    host='10.11.12.90\BDT',
    user='ibetlmarket',
    port=1433,
    password='m@rk3t2o15',
    database='MARKET'
)

Inciando actualizacion de tblas ODS

In [14]:
with connection.cursor() as cursor:
    try:
        print("/"*50)
        alter_text_files = """
        ALTER TABLE STG.H_ALERTAS_GRUPO_ROL_EQUIPO ALTER COLUMN GRUPO VARCHAR(255);
        ALTER TABLE STG.H_ALERTAS_GRUPO_ROL_EQUIPO ALTER COLUMN ROL VARCHAR(255);
        ALTER TABLE STG.H_ALERTAS_GRUPO_ROL_EQUIPO ALTER COLUMN EQUIPO VARCHAR(255);
        ALTER TABLE STG.H_ALERTAS_GRUPO_ROL_EQUIPO ALTER COLUMN ZONAL VARCHAR(255);
        ALTER TABLE STG.H_ALERTAS_GRUPO_ROL_EQUIPO ALTER COLUMN SEGMENTO VARCHAR(255);
        """
        cursor.execute(alter_text_files)
    except Exception as e:
        print("ERROR: ", str(e))
        
try:
    connection.commit()
    connection.close()
    print("Conexion database cerrada")
except Exception as e:
    print("Error:  ", str(e))

//////////////////////////////////////////////////
Conexion database cerrada

### COLABORADOR EQUIPO

In [15]:
colaborador_equipo = pd.read_excel('COLABORADOR_EQUIPO.xlsx', engine='openpyxl')
colaborador_equipo.head()

,REGISTRO,NOMBRE,PUESTO,EQUIPO,ZONAL,SEGMENTO
0,B32400,MARTIN ALONSO ALMESTAR CISNEROS,EJECUTIVO DE NEGOCIOS BCA. EMPRESA,EN,BEP ZONAL 1,S1
1,B32747,RAIDY ESTRELLA CADILLO ANGELES,EJECUTIVO DE SEGUIMIENTO COMERCIAL,EJ. SEGUIMIENTO,BEP ZONAL 1,S1
2,B19832,JAVIER IVAN LUNA VERA,EJECUTIVO DE NEGOCIOS BCA. EMPRESA,EN,BEP ZONAL 1,S1
3,B18300,CECILIA ALEJANDRA GAMARRA CASTILLO,EJECUTIVO DE NEGOCIOS BCA. EMPRESA,EN,BEP ZONAL 1,S1
4,B25950,JOSE ANTONIO BELLODAS LECAROS,EJECUTIVO DE NEGOCIOS BCA. EMPRESA,EN,BEP ZONAL 1,S1

In [16]:
colaborador_equipo.shape

(990, 6)

In [17]:
%%time
# mssql+pymssql
from sqlalchemy import create_engine
engine = create_engine(r"mssql+pymssql://ibetlmarket:m@rk3t2o15@10.11.12.90\BDT/MARKET")
connection_x = engine.connect()

try:
    colaborador_equipo.to_sql(
        name='H_ALERTAS_COLABORADOR_EQUIPO',
        schema='STG',
        con=connection_x, 
        index=False, 
        if_exists='replace'
    )
    connection_x.close()
    correct = 1

except Exception as e:
    print("ERROR: ", str(e))
    correct = 0

print(correct)

1
Wall time: 1min 45s

In [18]:
import pymssql
print("Inciando actualizacion de tblas ODS")
connection = pymssql.connect(
    host='10.11.12.90\BDT',
    user='ibetlmarket',
    port=1433,
    password='m@rk3t2o15',
    database='MARKET'
)

Inciando actualizacion de tblas ODS

In [19]:
with connection.cursor() as cursor:
    try:
        print("/"*50)
        alter_text_files = """
        ALTER TABLE STG.H_ALERTAS_COLABORADOR_EQUIPO ALTER COLUMN REGISTRO VARCHAR(255);
        ALTER TABLE STG.H_ALERTAS_COLABORADOR_EQUIPO ALTER COLUMN NOMBRE VARCHAR(255);
        ALTER TABLE STG.H_ALERTAS_COLABORADOR_EQUIPO ALTER COLUMN PUESTO VARCHAR(255);
        ALTER TABLE STG.H_ALERTAS_COLABORADOR_EQUIPO ALTER COLUMN EQUIPO VARCHAR(255);
        ALTER TABLE STG.H_ALERTAS_COLABORADOR_EQUIPO ALTER COLUMN ZONAL VARCHAR(255);
        ALTER TABLE STG.H_ALERTAS_COLABORADOR_EQUIPO ALTER COLUMN SEGMENTO VARCHAR(255);
        """
        cursor.execute(alter_text_files)
    except Exception as e:
        print("ERROR: ", str(e))
        
try:
    connection.commit()
    connection.close()
    print("Conexion database cerrada")
except Exception as e:
    print("Error:  ", str(e))

//////////////////////////////////////////////////
Conexion database cerrada