In [21]:
import os
import sys
import time
import warnings
import boto3

from pyspark.sql import Row
from pyspark.sql import functions as F
from pyspark.sql.types import *

warnings.simplefilter("ignore", UnicodeWarning)

is_prod = False

if is_prod:
    from awsglue.utils import getResolvedOptions
    from pyspark.context import SparkContext
    from awsglue.context import GlueContext
    from awsglue.job import Job

    is_prod = True
    args = getResolvedOptions(sys.argv, ['JOB_NAME'])
    sc = SparkContext()
    glueContext = GlueContext(sc)
    spark = glueContext.spark_session
    job = Job(glueContext)
    job.init(args['JOB_NAME'], args)

else:
    from pyspark.context import SparkContext
    from pyspark.sql import SparkSession

    os.environ['PYSPARK_SUBMIT_ARGS'] = "--packages=org.apache.hadoop:hadoop-aws:2.7.3," \
                                        "$SPARK_HOME/jars/com.amazonaws_aws-java-sdk-s3-1.10.6.jar"

    s3_schema = "s3a://"
    access_id = "xxx"
    access_key = "xxx"
    bucket_name = "aws-datalake-testing"

    spark = SparkSession.builder.appName("APP_4") \
        .config("spark.hadoop.fs.s3a.access.key", access_id) \
        .config("spark.hadoop.fs.s3a.secret.key", access_key) \
        .config("spark.hadoop.fs.s3a.path.style.access", "true") \
        .config("spark.hadoop.fs.s3a.connection.ssl.enabled", "false") \
        .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
        .config("spark.hadoop.fs.s3a.fast.upload", "true") \
        .getOrCreate()


file_empty = ""
my_path = '/folder/json/'
s3, my_bucket = session_bucket(bucket_name, access_id, access_key)

path_block = "{0}{1}/{2}{3}/".format(s3_schema, bucket_name, my_path)

df_load = spark.read.format("com.databricks.spark.csv") \
    .load(path_block)
print(df_load.printSchema())
   

if is_prod:
    job.commit()

('10', '03')
CREATE INDEX

AnalysisException: u"cannot resolve '`IDX`' given input columns: [];;\n'Project ['IDX]\n+- AnalysisBarrier\n      +- Project\n         +- Project [Op#872, TIPOID#873, NUMID#874, DVID#875, NOMTER#876, APETER#877, CODPAIS#878, CODESTADO#879, CODCIUDAD#880, CODMUNICIPIO#881, DIREC#882, TELEF1#883, TELEF2#884, TELEF3#885, FAX#886, TELEX#887, ZIP#888, INDNACIONAL#889, STSTER#890, FECSTS#891, NUMCTAAUXI#892, TIPOTER#893, MIGRADO#894, APEMATTER#895, NOMCENTRAB#896, DIRECTRAB#897, CODPAISTRAB#898, CODESTADOTRAB#899, CODCIUDADTRAB#900, CODMUNICIPIOTRAB#901, TELEF1TRAB#902, TELEF2TRAB#903, ANEXOTRAB#904, FAXTRAB#905, CODZONAPOSTALTRAB#906, NACIONALIDAD#907, NOMCORREO#908, ZONACOB#909, SITLAB#910, PROFESION#911, TAMEMPRESA#912, SEXO#913, FECNAC#914, FECCREA#915, USUCREA#916, FECMOD#917, USUMOD#918, ESTCIVIL#919, INDASEGVIDA#920, CODACT#921, CIIU#922, CODZONAPOSTAL#923, INDDIRCOB#924, INDDIRDESP#925, CELULAR#926, RADIO#927, INDEXONERADO#928, REFERDIREC#929, REFERDIRECTRAB#930, TELEXTRABAJO#931, INDTELEX#932, SEGCOMP#933, EMAILFACTELEC#934, EMAILFACTELECCC#935, UPLOAD_BLOCK_PROCESS#936, UPLOAD_PROCESS_DATE#937, FILENAME#938, REFEXTERNA#939, monotonically_increasing_id() AS iDX#1008L]\n            +- Relation[Op#872,TIPOID#873,NUMID#874,DVID#875,NOMTER#876,APETER#877,CODPAIS#878,CODESTADO#879,CODCIUDAD#880,CODMUNICIPIO#881,DIREC#882,TELEF1#883,TELEF2#884,TELEF3#885,FAX#886,TELEX#887,ZIP#888,INDNACIONAL#889,STSTER#890,FECSTS#891,NUMCTAAUXI#892,TIPOTER#893,MIGRADO#894,APEMATTER#895,NOMCENTRAB#896,DIRECTRAB#897,CODPAISTRAB#898,CODESTADOTRAB#899,CODCIUDADTRAB#900,CODMUNICIPIOTRAB#901,TELEF1TRAB#902,TELEF2TRAB#903,ANEXOTRAB#904,FAXTRAB#905,CODZONAPOSTALTRAB#906,NACIONALIDAD#907,NOMCORREO#908,ZONACOB#909,SITLAB#910,PROFESION#911,TAMEMPRESA#912,SEXO#913,FECNAC#914,FECCREA#915,USUCREA#916,FECMOD#917,USUMOD#918,ESTCIVIL#919,INDASEGVIDA#920,CODACT#921,CIIU#922,CODZONAPOSTAL#923,INDDIRCOB#924,INDDIRDESP#925,CELULAR#926,RADIO#927,INDEXONERADO#928,REFERDIREC#929,REFERDIRECTRAB#930,TELEXTRABAJO#931,INDTELEX#932,SEGCOMP#933,EMAILFACTELEC#934,EMAILFACTELECCC#935,UPLOAD_BLOCK_PROCESS#936,UPLOAD_PROCESS_DATE#937,FILENAME#938,REFEXTERNA#939] csv\n"

In [43]:
df1 = df_load.withColumn("iDX", F.monotonically_increasing_id().cast("string")).select([c for c in df_load.columns + ["IDX"]])

In [44]:
df2, total_rows  = generate_uniqueid(spark, df1, last_id)

In [47]:
df3 = df1.join(df2, "IDX", "left_outer").drop(df1.IDX).drop(df2.IDX)

In [48]:
df3.show(1)

+---+------+--------+----+------+-------+-------+---------+---------+------------+--------------------+-------+------+------+----+-----+---+-----------+------+-------------------+--------------+-------+-------+-----------+----------+--------------------+-----------+-------------+-------------+----------------+----------+----------+---------+-------+-----------------+------------+--------------+-------+------+---------+----------+----+-------------------+-------------------+------------+------+------+--------+-----------+------+----+-------------+---------+----------+-------+-----+------------+----------+--------------+------------+--------+-------+-------------+---------------+--------------------+-------------------+------------------+----------+--------+
| Op|TIPOID|   NUMID|DVID|NOMTER| APETER|CODPAIS|CODESTADO|CODCIUDAD|CODMUNICIPIO|               DIREC| TELEF1|TELEF2|TELEF3| FAX|TELEX|ZIP|INDNACIONAL|STSTER|             FECSTS|    NUMCTAAUXI|TIPOTER|MIGRADO|  APEMATTER|NOMCENTRAB|           DIRECTRAB|CODPAISTRAB|CODESTADOTRAB|CODCIUDADTRAB|CODMUNICIPIOTRAB|TELEF1TRAB|TELEF2TRAB|ANEXOTRAB|FAXTRAB|CODZONAPOSTALTRAB|NACIONALIDAD|     NOMCORREO|ZONACOB|SITLAB|PROFESION|TAMEMPRESA|SEXO|             FECNAC|            FECCREA|     USUCREA|FECMOD|USUMOD|ESTCIVIL|INDASEGVIDA|CODACT|CIIU|CODZONAPOSTAL|INDDIRCOB|INDDIRDESP|CELULAR|RADIO|INDEXONERADO|REFERDIREC|REFERDIRECTRAB|TELEXTRABAJO|INDTELEX|SEGCOMP|EMAILFACTELEC|EMAILFACTELECCC|UPLOAD_BLOCK_PROCESS|UPLOAD_PROCESS_DATE|          FILENAME|REFEXTERNA|UNIQUEID|
+---+------+--------+----+------+-------+-------+---------+---------+------------+--------------------+-------+------+------+----+-----+---+-----------+------+-------------------+--------------+-------+-------+-----------+----------+--------------------+-----------+-------------+-------------+----------------+----------+----------+---------+-------+-----------------+------------+--------------+-------+------+---------+----------+----+-------------------+-------------------+------------+------+------+--------+-----------+------+----+-------------+---------+----------+-------+-----+------------+----------+--------------+------------+--------+-------+-------------+---------------+--------------------+-------------------+------------------+----------+--------+
|  I|     0|16443831|   0|JAVIER|HUAYLLA|    428|      015|      001|         034|AV. AV. CIRCUNVAL...|0000000|  null|  null|null| null|L30|          N|   VAL|2017-03-07 02:50:50|00000016443831|      P|      M|YANAHUILLCA|      null|AV. AV. CIRCUNVAL...|        428|          015|          001|             034|      null|      null|     null|   null|              L30|        PERU|Javier Huaylla|    046|  null|    00000|      null|   M|1986-06-28 00:00:00|2017-03-07 02:50:50|DBL_BDRSA_01|  null|  null|    null|          0|  null|null|          L30|        D|         D|   null| null|        null|      null|          null|        null|    null|   null|         null|           null|                  01|2018-10-25 22:18:43|19000101-010000000|  16443831| 2420329|
+---+------+--------+----+------+-------+-------+---------+---------+------------+--------------------+-------+------+------+----+-----+---+-----------+------+-------------------+--------------+-------+-------+-----------+----------+--------------------+-----------+-------------+-------------+----------------+----------+----------+---------+-------+-----------------+------------+--------------+-------+------+---------+----------+----+-------------------+-------------------+------------+------+------+--------+-----------+------+----+-------------+---------+----------+-------+-----+------------+----------+--------------+------------+--------+-------+-------------+---------------+--------------------+-------------------+------------------+----------+--------+
only showing top 1 row

In [42]:
def generate_uniqueid(spark, df, last_id):
    result_list = list()
    count = 0 + int(last_id)
    total_rows = 0
    for row in df.select("IDX").collect():
        count += 1
        total_rows += 1
        result_dict = Row(IDX=str(row["IDX"]), UNIQUEID="{0}".format(count))
        result_list.append(result_dict)
    df2 = spark.createDataFrame(result_list)
    return df2, total_rows

In [ ]:
df_load = spark.read.parquet("s3a://aws-datalake-testing/BDAX/APP_DMS/POLIZA/LZN/01/01.parquet")

In [ ]:
dfv6 =df_load.limit(10).toPandas()

In [ ]:
dfv6

In [2]:
valuesA = [('Pirate',1),('Monkey',2),('Ninja',3),('Spaghetti',4)]
TableA = spark.createDataFrame(valuesA,['name','id'])

In [3]:
df1 = TableA.withColumn("IDX", F.monotonically_increasing_id().cast("string"))
df2, total_rows = generate_uniqueid(spark, df1, last_id)
df_join = df1.join(df2, "IDX", "left_outer").drop(df2.IDX).drop(df1.IDX)

In [4]:
df_join.show()

+---------+---+--------+
|     name| id|UNIQUEID|
+---------+---+--------+
|   Monkey|  2| 2410234|
|   Pirate|  1| 2410233|
|Spaghetti|  4| 2410236|
|    Ninja|  3| 2410235|
+---------+---+--------+