In [1]:
!pip install koalas --force

Collecting koalas
  Using cached https://files.pythonhosted.org/packages/5b/0a/7f038b39257cd7178190082558d6a1586092201c4d04ad985b31b25b5b6c/koalas-0.1.0-py3-none-any.whl
Collecting pyarrow<0.11,>=0.10 (from koalas)
  Using cached https://files.pythonhosted.org/packages/c9/b8/076ebd968f3c6d4e9b6e5de696f0b19964a3d4b7dc020fd32db4e868ad74/pyarrow-0.10.0-cp36-cp36m-manylinux1_x86_64.whl
Collecting pandas>=0.23 (from koalas)
  Using cached https://files.pythonhosted.org/packages/19/74/e50234bc82c553fecdbd566d8650801e3fe2d6d8c8d940638e3d8a7c5522/pandas-0.24.2-cp36-cp36m-manylinux1_x86_64.whl
Collecting decorator (from koalas)
  Using cached https://files.pythonhosted.org/packages/5f/88/0075e461560a1e750a0dcbf77f1d9de775028c37a19a346a6c565a257399/decorator-4.4.0-py2.py3-none-any.whl
Collecting numpy>=1.10 (from pyarrow<0.11,>=0.10->koalas)
  Using cached https://files.pythonhosted.org/packages/c1/e2/4db8df8f6cddc98e7d7c537245ef2f4e41a1ed17bf0c3177ab3cc6beac7f/numpy-1.16.3-cp36-cp36m-manylinux1_x86_64.whl
Collecting six>=1.0.0 (from pyarrow<0.11,>=0.10->koalas)
  Using cached https://files.pythonhosted.org/packages/73/fb/00a976f728d0d1fecfe898238ce23f502a721c0ac0ecfedb80e0d88c64e9/six-1.12.0-py2.py3-none-any.whl
Collecting pytz>=2011k (from pandas>=0.23->koalas)
  Using cached https://files.pythonhosted.org/packages/3d/73/fe30c2daaaa0713420d0382b16fbb761409f532c56bdcc514bf7b6262bb6/pytz-2019.1-py2.py3-none-any.whl
Collecting python-dateutil>=2.5.0 (from pandas>=0.23->koalas)
  Using cached https://files.pythonhosted.org/packages/41/17/c62faccbfbd163c7f57f3844689e3a78bae1f403648a6afb1d0866d87fbb/python_dateutil-2.8.0-py2.py3-none-any.whl
pgadmin4 3.5 has requirement Flask==0.12.4, but you'll have flask 1.0.2 which is incompatible.
pgadmin4 3.5 has requirement Flask-Migrate==2.1.1, but you'll have flask-migrate 2.3.1 which is incompatible.
pgadmin4 3.5 has requirement pbr==3.1.1, but you'll have pbr 5.1.1 which is incompatible.
pgadmin4 3.5 has requirement pytz==2018.3, but you'll have pytz 2019.1 which is incompatible.
pandasglue 0.0.2 has requirement pandas==0.24.1, but you'll have pandas 0.24.2 which is incompatible.
pandasglue 0.0.2 has requirement pyarrow==0.12.0, but you'll have pyarrow 0.10.0 which is incompatible.
chatterbot 0.8.7 has requirement python-dateutil<2.7,>=2.6, but you'll have python-dateutil 2.8.0 which is incompatible.
chalice 1.6.1 has requirement click<7.0,>=6.6, but you'll have click 7.0 which is incompatible.
chalice 1.6.1 has requirement pip<=18,>=9, but you'll have pip 19.0.3 which is incompatible.
Installing collected packages: numpy, six, pyarrow, pytz, python-dateutil, pandas, decorator, koalas
  Found existing installation: numpy 1.16.3
    Uninstalling numpy-1.16.3:
      Successfully uninstalled numpy-1.16.3
  Found existing installation: six 1.12.0
    Uninstalling six-1.12.0:
      Successfully uninstalled six-1.12.0
  Found existing installation: pyarrow 0.10.0
    Uninstalling pyarrow-0.10.0:
      Successfully uninstalled pyarrow-0.10.0
  Found existing installation: pytz 2019.1
    Uninstalling pytz-2019.1:
      Successfully uninstalled pytz-2019.1
  Found existing installation: python-dateutil 2.8.0
    Uninstalling python-dateutil-2.8.0:
      Successfully uninstalled python-dateutil-2.8.0
  Found existing installation: pandas 0.24.2
    Uninstalling pandas-0.24.2:
      Successfully uninstalled pandas-0.24.2
  Found existing installation: decorator 4.4.0
    Uninstalling decorator-4.4.0:
      Successfully uninstalled decorator-4.4.0
  Found existing installation: koalas 0.1.0
    Uninstalling koalas-0.1.0:
      Successfully uninstalled koalas-0.1.0
Successfully installed decorator-4.4.0 koalas-0.1.0 numpy-1.16.3 pandas-0.24.2 pyarrow-0.10.0 python-dateutil-2.8.0 pytz-2019.1 six-1.12.0
You are using pip version 19.0.3, however version 19.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [1]:
%load_ext memory_profiler

In [2]:
import pandas as pd
import databricks.koalas as ks

In [3]:
%%memit
times = ['time%s' % i for i in range(1, 11)]
train_df = pd.read_csv(
    'data/train_sessions.csv', index_col='session_id', parse_dates=times
)

peak memory: 332.38 MiB, increment: 242.36 MiB

In [6]:
train_df.shape

(253561, 21)

In [4]:
%%memit
# OJO NOT FOUND WITH PANDAS 2.3.3 ..... WORK WITH 2.4.2
df = ks.from_pandas(train_df)

peak memory: 565.58 MiB, increment: 401.15 MiB

In [5]:
print(dir(df))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_index_columns', '_init_from_pandas', '_init_from_spark', '_metadata', '_pd_getitem', '_reduce_for_stat_function', '_repr_html_', '_sdf', '_validate_axis', 'abs', 'assign', 'columns', 'compute', 'copy', 'count', 'drop', 'dropna', 'get', 'groupby', 'head', 'index', 'isna', 'isnull', 'iteritems', 'kurt', 'kurtosis', 'loc', 'max', 'mean', 'min', 'notna', 'notnull', 'pipe', 'reset_index', 'session_id', 'set_index', 'shape', 'site1', 'site10', 'site2', 'site3', 'site4', 'site5', 'site6', 'site7', 'site8', 'site9', 'skew', 'sort_values', 'std', 'sum', 'target', 'time1', 'time10', 'time2', 'time3', 'time4', 'time5', 'time6', 'time7', 'time8', 'time9', 'toPandas', 'to_html', 'unique', 'var']

In [23]:
df.head(3)

In [15]:
print(df._metadata.all_fields)

['session_id', 'site1', 'time1', 'site2', 'time2', 'site3', 'time3', 'site4', 'time4', 'site5', 'time5', 'site6', 'time6', 'site7', 'time7', 'site8', 'time8', 'site9', 'time9', 'site10', 'time10', 'target']

In [16]:
df.shape

(253561, 21)