In [1]:
import pandas as pd

In [2]:
### Extrayendo columnas
raw_data=pd.read_csv("rutas.txt",sep=" ",header=None)
data=raw_data.loc[:,(0,2,4)]
data.columns=["ciudad_1","ciudad_2","distancia"]

In [3]:
data.head()

        ciudad_1    ciudad_2  distancia
0  AlphaCentauri     Snowdin         66
1  AlphaCentauri       Tambi         28
2  AlphaCentauri      Faerun         60
3  AlphaCentauri     Norrath         34
4  AlphaCentauri  Straylight         34

In [4]:
### Creando diccionario de distancias
dict_1={}
# ciudades=data["ciudad_1"].unique()
ciudades=['AlphaCentauri', 'Snowdin', 'Tambi', 'Faerun', 'Norrath','Straylight', 'Tristram','Arbre']
for ciudad in ciudades:
    dict_1[ciudad]={}
dict_1
for index,row in data.iterrows():
    dict_1[row["ciudad_1"]][row["ciudad_2"]]=row["distancia"]
    dict_1[row["ciudad_2"]][row["ciudad_1"]]=row["distancia"]
dict_1

{'AlphaCentauri': {'Snowdin': 66,
  'Tambi': 28,
  'Faerun': 60,
  'Norrath': 34,
  'Straylight': 34,
  'Tristram': 3,
  'Arbre': 108},
 'Snowdin': {'AlphaCentauri': 66,
  'Tambi': 22,
  'Faerun': 12,
  'Norrath': 91,
  'Straylight': 121,
  'Tristram': 111,
  'Arbre': 71},
 'Tambi': {'AlphaCentauri': 28,
  'Snowdin': 22,
  'Faerun': 39,
  'Norrath': 113,
  'Straylight': 130,
  'Tristram': 35,
  'Arbre': 40},
 'Faerun': {'AlphaCentauri': 60,
  'Snowdin': 12,
  'Tambi': 39,
  'Norrath': 63,
  'Straylight': 21,
  'Tristram': 57,
  'Arbre': 83},
 'Norrath': {'AlphaCentauri': 34,
  'Snowdin': 91,
  'Tambi': 113,
  'Faerun': 63,
  'Straylight': 9,
  'Tristram': 50,
  'Arbre': 60},
 'Straylight': {'AlphaCentauri': 34,
  'Snowdin': 121,
  'Tambi': 130,
  'Faerun': 21,
  'Norrath': 9,
  'Tristram': 27,
  'Arbre': 81},
 'Tristram': {'AlphaCentauri': 3,
  'Snowdin': 111,
  'Tambi': 35,
  'Faerun': 57,
  'Norrath': 50,
  'Straylight': 27,
  'Arbre': 90},
 'Arbre': {'AlphaCentauri': 108,
  'Snowdin': 71,
  'Tambi': 40,
  'Faerun': 83,
  'Norrath': 60,
  'Straylight': 81,
  'Tristram': 90}}

In [5]:
nodes=tuple(ciudades)
distances=dict_1

### Aplicando Dijkstra 
for ciudad in ciudades:
    unvisited = {node: None for node in nodes} #using None as +inf
    visited = {}
    current = ciudad
    currentDistance = 0
    unvisited[current] = currentDistance

    while True:
        for neighbour, distance in distances[current].items():
            if neighbour not in unvisited: continue
            newDistance = currentDistance + distance
            if unvisited[neighbour] is None or unvisited[neighbour] > newDistance:
                unvisited[neighbour] = newDistance
        visited[current] = currentDistance
        del unvisited[current]
        if not unvisited: break
        candidates = [node for node in unvisited.items() if node[1]]
        current, currentDistance = sorted(candidates, key = lambda x: x[1])[0]

    print(visited)
    print("Distancia Total :", sum(visited.values()))

{'AlphaCentauri': 0, 'Tristram': 3, 'Tambi': 28, 'Straylight': 30, 'Norrath': 34, 'Snowdin': 50, 'Faerun': 51, 'Arbre': 68}
Distancia Total : 264
{'Snowdin': 0, 'Faerun': 12, 'Tambi': 22, 'Straylight': 33, 'Norrath': 42, 'AlphaCentauri': 50, 'Tristram': 53, 'Arbre': 62}
Distancia Total : 274
{'Tambi': 0, 'Snowdin': 22, 'AlphaCentauri': 28, 'Tristram': 31, 'Faerun': 34, 'Arbre': 40, 'Straylight': 55, 'Norrath': 62}
Distancia Total : 272
{'Faerun': 0, 'Snowdin': 12, 'Straylight': 21, 'Norrath': 30, 'Tambi': 34, 'Tristram': 48, 'AlphaCentauri': 51, 'Arbre': 74}
Distancia Total : 270
{'Norrath': 0, 'Straylight': 9, 'Faerun': 30, 'AlphaCentauri': 34, 'Tristram': 36, 'Snowdin': 42, 'Arbre': 60, 'Tambi': 62}
Distancia Total : 273
{'Straylight': 0, 'Norrath': 9, 'Faerun': 21, 'Tristram': 27, 'AlphaCentauri': 30, 'Snowdin': 33, 'Tambi': 55, 'Arbre': 69}
Distancia Total : 244
{'Tristram': 0, 'AlphaCentauri': 3, 'Straylight': 27, 'Tambi': 31, 'Norrath': 36, 'Faerun': 48, 'Snowdin': 53, 'Arbre': 71}
Distancia Total : 269
{'Arbre': 0, 'Tambi': 40, 'Norrath': 60, 'Snowdin': 62, 'AlphaCentauri': 68, 'Straylight': 69, 'Tristram': 71, 'Faerun': 74}
Distancia Total : 444