## Datathon URP

In [1]:
import pandas as pd
import re

In [2]:
dataset = pd.read_csv("rutas.txt", encoding='UTF-8')

In [3]:
first_row = pd.DataFrame([list(dataset.columns)],
                         columns=['Routes'])

In [4]:
#dataset.columns = ['Routes']
dataset.rename(columns= {'AlphaCentauri to Snowdin = 66': 'Routes'}, inplace=True)

In [5]:
routes = dataset.append(first_row, ignore_index=True)

In [6]:
def return_origin(c):
    result = c.split("to")
    return result[0].replace(" ", "").replace("\t", "")

In [7]:
routes['Origin'] = routes['Routes'].apply(lambda c: return_origin(c))

In [8]:
def return_destination(c):
    result = c.split(" ")
    return result[2].replace(" ", "").replace("\t", "")

In [9]:
routes['Destination'] = routes['Routes'].apply(lambda c: return_destination(c))

In [10]:
def return_distance(c):
    result = re.findall(r'\d+', c)
    return result[0]

In [11]:
routes['Distance'] = routes['Routes'].apply(lambda c: return_distance(c))

In [12]:
routes.drop('Routes', axis=1, inplace=True)

In [13]:
routes

           Origin Destination Distance
0   AlphaCentauri       Tambi       28
1   AlphaCentauri      Faerun       60
2   AlphaCentauri     Norrath       34
3   AlphaCentauri  Straylight       34
4   AlphaCentauri    Tristram        3
5   AlphaCentauri       Arbre      108
6         Snowdin       Tambi       22
7         Snowdin      Faerun       12
8         Snowdin     Norrath       91
9         Snowdin  Straylight      121
10        Snowdin    Tristram      111
11        Snowdin       Arbre       71
12          Tambi      Faerun       39
13          Tambi     Norrath      113
14          Tambi  Straylight      130
15          Tambi    Tristram       35
16          Tambi       Arbre       40
17         Faerun     Norrath       63
18         Faerun  Straylight       21
19         Faerun    Tristram       57
20         Faerun       Arbre       83
21        Norrath  Straylight        9
22        Norrath    Tristram       50
23        Norrath       Arbre       60
24     Straylight    Tristram       27
25     Straylight       Arbre       81
26       Tristram       Arbre       90
27  AlphaCentauri     Snowdin       66

In [14]:
dest_dest = []
resultList = []
low_route = []
org_dest = []
total = []
def print_all_posible_routes(origin, destine, routes):
    for index, route in routes.iterrows():
        if(route.Origin == origin):
            org_dest.append(route.Destination)
            total.append([origin, route.Destination, route.Distance])
    eval_next_route(org_dest, destine, routes)
    show_all_routes(total, dest_dest)
    
def evalRoutes(low_route):
    if (len(low_route) == 0):
        return ""
    else:
        return str(min(low_route))
    
def show_all_routes(total, dest_dest):
    for j in dest_dest:
        for t in total:
            if(t[1] == j[0]):
                a = int(t[2])+int(j[2])
                low_route.append(a)
                print(t[0]+ "-->" + t[1]+ "-->" + j[1] + "=" + str(a))
                resultList.append(list(set().union(t,j)))
    print("No hay ruta corta") if evalRoutes(low_route) == "" else print("La Ruta Mas corta es : "+ evalRoutes(low_route))
    
    
def eval_next_route(org_dest, destine, routes):
    for index, route in routes.iterrows():
        for next_dest in org_dest:
            if (route.Origin == next_dest and route.Destination == destine):
                dest_dest.append([next_dest, route.Destination, route.Distance])

In [15]:
print_all_posible_routes('AlphaCentauri', 'Faerun', routes)

AlphaCentauri-->Snowdin-->Faerun=78
AlphaCentauri-->Tambi-->Faerun=67
La Ruta Mas corta es : 67

In [16]:
dest_dest

[['Snowdin', 'Faerun', '12'], ['Tambi', 'Faerun', '39']]