In [1]:
import pandas as pd

In [2]:
df3 = pd.DataFrame(
    [['c', 3, 'cat'], ['d', 4, 'dog']], 
    columns=['letter', 'number', 'animal']
)
df3.head()

  letter  number animal
0      c       3    cat
1      d       4    dog

In [3]:
df1 = pd.DataFrame(
    [['a', 1], ['b', 2]], 
    columns=['letter', 'number']
)
df1.head()

  letter  number
0      a       1
1      b       2

### CONCAT NUMBER OF COLUMNS DIFFERENT

In [5]:
pd.concat([df1, df3], sort=False)

  letter  number animal
0      a       1    NaN
1      b       2    NaN
0      c       3    cat
1      d       4    dog

### CONCAT VERTICAL

In [8]:
aa = pd.concat([df1, df3], axis=1)
aa.head()

  letter  number letter  number animal
0      a       1      c       3    cat
1      b       2      d       4    dog

In [9]:
 mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [19]:
df.iloc[:,1:]

      b     c     d
0     2     3     4
1   200   300   400
2  2000  3000  4000