In [2]:
import pandas as pd

mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [5]:
pd.crosstab([df['a'], df['b']], df['c'])

c          3     300   3000
a    b
1    2        1     0     0
100  200      0     1     0
1000 2000     0     0     1

In [6]:
pd.crosstab([df['a']], df['c'])

c     3     300   3000
a
1        1     0     0
100      0     1     0
1000     0     0     1

In [7]:
pd.crosstab(df['a'], df['c'])

c     3     300   3000
a
1        1     0     0
100      0     1     0
1000     0     0     1