In [5]:
import pandas as pd

df = pd.DataFrame(
    {
        'Col1': [10, 20, 15, 30, 45, 20, 23, 17],
        'Col2': [13, 23, 18, 33, 48, 20, 23, 19],
        'Col3': [17, 27, 22, 37, 52, 25, 21, 17]
    }
)
df.head(10)

   Col1  Col2  Col3
0    10    13    17
1    20    23    27
2    15    18    22
3    30    33    37
4    45    48    52
5    20    20    25
6    23    23    21
7    17    19    17

In [7]:
df['Col3'].shift(periods=3)

0     NaN
1     NaN
2     NaN
3    17.0
4    27.0
5    22.0
6    37.0
7    52.0
Name: Col3, dtype: float64