In [23]:
import pandas as pd

df = pd.read_csv('routes.txt', sep=' to ', engine='python', header=None)
df.head()

               0                1
0  AlphaCentauri     Snowdin = 66
1  AlphaCentauri       Tambi = 28
2  AlphaCentauri      Faerun = 60
3  AlphaCentauri     Norrath = 34
4  AlphaCentauri  Straylight = 34

In [24]:
df['llegada'] = df[1].apply(lambda _:_.split(' = ')[0])
df['dist'] = df[1].apply(lambda _:_.split(' = ')[1]).astype(int)
del df[1]
df.columns = ['inicio', 'llegada', 'dist']
df.head()

          inicio     llegada  dist
0  AlphaCentauri     Snowdin    66
1  AlphaCentauri       Tambi    28
2  AlphaCentauri      Faerun    60
3  AlphaCentauri     Norrath    34
4  AlphaCentauri  Straylight    34

In [25]:
df.shape

(28, 3)

In [26]:
total_lugares = set(df['inicio']) | set(df['llegada'])
total_lugares

{'AlphaCentauri',
 'Arbre',
 'Faerun',
 'Norrath',
 'Snowdin',
 'Straylight',
 'Tambi',
 'Tristram'}

In [51]:
df.sort_values(by=['dist']).reset_index().loc[0,:]

index                  5
inicio     AlphaCentauri
llegada         Tristram
dist                   3
Name: 0, dtype: object

In [53]:
routes = {}

while routes != total_lugares:
    if not routes:
        serie_min = df.sort_values(by=['dist']).reset_index().loc[0,:]
        routes.update(
            [serie_min['inicio'], serie_min['llegada']]
        )
    break

routes

ValueError: dictionary update sequence element #0 has length 13; 2 is required