In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    np.random.randint(10,60,size=(5,3)),
    index = ['a','c','e','f','h'],
    columns = ['One','Two','Three']
)

In [6]:
df = df.reindex(
    index=['a','b','c','d','e','f','g','h']
)
df.head(15)

    One   Two  Three
a  40.0  11.0   52.0
b   NaN   NaN    NaN
c  55.0  14.0   24.0
d   NaN   NaN    NaN
e  15.0  13.0   49.0
f  28.0  14.0   45.0
g   NaN   NaN    NaN
h  51.0  56.0   46.0

In [7]:
print(
    df.loc['b'].sum()
)

0.0

In [8]:
print(
    df.loc['b'].sum(min_count=1)
)

nan

In [9]:

print(
    df.loc['b'].sum(skipna=False)
)

nan

In [11]:
pd.Series([]).sum(skipna=False)

0.0

In [12]:
pd.Series([]).sum(min_count=1)

nan

In [15]:
df.sum(skipna=False)

One     NaN
Two     NaN
Three   NaN
dtype: float64

In [8]:
type(np.zeros(200))

numpy.ndarray

In [23]:
df = pd.DataFrame(
    np.random.randint(1, 20,size=(200,3)),
    columns = ['one','two','three']
)
df.head()

   one  two  three
0    6   11     12
1    9   10      5
2   16   11      6
3   14    5     10
4   19    5      4

In [24]:
df.shape

(200, 3)

In [34]:
for col in df.columns:
    df.loc[:, col] = np.zeros(200)

In [35]:
df.head()

   one  two  three
0  0.0  0.0    0.0
1  0.0  0.0    0.0
2  0.0  0.0    0.0
3  0.0  0.0    0.0
4  0.0  0.0    0.0